/* :root {
  --background: #ffffff;
  --foreground: #020202;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
} */

:root {
  --background: #000000;
  --foreground: #ededed; 
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  position: relative;
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-aldrich);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle 200px, #a313e0 0%, #4f0ac9 100%),
                    radial-gradient(circle 150px, #4f0ac9 0%, #0000ff 100%),
                    radial-gradient(circle 150px, #4f0ac9 0%, #0000ff 100%),
                    radial-gradient(circle 200px, #a313e0 0%, #4f0ac9 100%);
  background-position: top 214px right 58px,
                       top 400px left 180px,
                       top 1400px right 58px,
                       top 1700px left 180px;
  background-repeat: no-repeat;
  background-size: 200px 200px, 150px 150px, 150px 150px, 200px 200px;

  filter: blur(100px); /* Блюр */
  opacity: 0.8; /* Прозорість */
  z-index: -1; /* Щоб фон не перекривав контент */
}

/* 
body {
  background-image:
      radial-gradient(circle 200px, #a313e0 0%, #4f0ac9 100%),
      radial-gradient(circle 150px, #4f0ac9 0%, #0000ff 100%),
      radial-gradient(circle 150px, #4f0ac9 0%, #0000ff 100%),
      radial-gradient(circle 200px, #a313e0 0%, #4f0ac9 100%),
      radial-gradient(circle 150px, rgba(237, 198, 255, 1) 0%, rgba(237, 198, 255, 0.9) 100%),
      radial-gradient(circle 200px, rgba(214, 200, 255, 1) 0%, rgba(214, 200, 255, 0.9) 100%),
      radial-gradient(circle 150px, rgba(237, 198, 255, 1) 0%, rgba(237, 198, 255, 0.9) 100%),
      radial-gradient(circle 150px, rgba(237, 198, 255, 1) 0%, rgba(237, 198, 255, 0.9) 100%),
      radial-gradient(circle 200px, rgba(214, 200, 255, 1) 0%, rgba(214, 200, 255, 0.9) 100%);
  background-position:
      top 214px right 58px,
      top 400px left 180px,
      top 1400px right 58px,
     top 1700px left 180px,
      top 4531px left 180px,
      top 4708px right 58px;

  background-repeat: 
  no-repeat,
      no-repeat,
      no-repeat,
      no-repeat,
      no-repeat, 
      no-repeat;
  background-size: 
  200px 200px,
  150px 150px,
      200px 200px,
      150px 150px,
      150px 150px,
      200px 200px,
      200px 200px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
      background-position:
          top 224px right 406px,
          top 47px left 435px,
          top 2130px right 406px,
          top 1953px left 435px,
          top 3624px left 435px,
          top 3801px right 406px;
  }

  @media screen and (min-width: 1280px) {
      background-position:
          top 263px left -291px,
          top 64px right -130px,
          top 2506px left -557px,
          top 2251px right -491px,
          top 4146px left -446px,
          top 3865px right -603px;
  }

  backdrop-filter: blur(200px);
} */

.gradient {
  background-color: #ffffff;
      background-image: linear-gradient(75deg, rgba(214, 200, 255, 0.4) 0%, rgba(214, 200, 255, 0.6) 30%, rgba(214, 200, 255, 0.2) 55%, rgba(237, 198, 255, 0.6) 85%, rgba(237, 198, 255, 0.4) 100%);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-aldrich);
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  /* background-color: #000000; */
}

/* header::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(88deg, #a313e0 20%, #4f0ac9 66%, #0000ff);
  border-radius: 10px;
} */


.button {
  height: 30px;
  width: 100px;
  
/* display: inline-block;
overflow: hidden;
position: relative; */
border-radius: 10px;
border: 10px solid;
border-image-source: linear-gradient(to right, #FF3F3A 0%, #F75E05 100%);
border-image-slice: 1;
overflow: hidden;
/* background: 
linear-gradient(to right, #FF3F3A 0%, #F75E05 100%) 
left top / 100% 5px no-repeat,
linear-gradient(to right,
#FF3F3A 0%, #F75E05 100%)
left bottom / 100% 5px no-repeat; */
}

/* .button::before,
.button::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
}

.button::before {
  left: 0;
  border-radius: 10px 0 0 10px;
  border: 5px solid #FF3F3A;
  border-right: none;

}

.button::after{
  right: 0;
  border-radius: 0 10px 10px 0;
  border-left: none;
  border: 5px solid #F75E05 
} */

#title {
  text-transform: capitalize;
}

.heroSection {
  /* min-height: calc(100vh - 70px); */
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-top: 20px;
padding-bottom: 20px;

  /* align-items: center; */
}

@media (max-width: 480px) {
  .heroSection {
    height: 600px;
  }
}

.heroSection .container {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.skillsSection {
  position: relative;

}

.link {
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;
}

.link:after {
    content: '';
    background: none repeat scroll 0 0 transparent;
    bottom: -1px;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:linear-gradient(88deg, #a313e0 20%, #4f0ac9 66%, #0000ff);
    transition: width 500ms ease 0s, left 500ms ease 0s;
    width: 0;
}

.link:hover:after {
    width: 100%;
    left: 0;
}

.has-button {
  width: 100%;

  width: 250px;
align-items: center;
height: 50px;
}



@media screen and (min-width: 768px) {
  .has-button{

    width: 200px;
  }
  
}